button {
  height: 59px;
  width: 59px;
  border: none;
}
.calculator {
  background-color: #e8e8e8;
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 25px;
  border-radius: 0px 0px 10px 10px;
  margin-left: auto;
  margin-right: auto;
}
.screen {
  height: 75px;
  background-color: #000;
  color: #fff;
  text-align: right;
  font-size: 24px;
  padding-right: 10px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
.row {
  padding-top: 6px;
}
.number {
  background-color: orange;
}
.operand {
  background-color: gray;
}
.number, .operand {
  font-size: 44px;
}
.clear {
  border-radius: 40px;
}